In [9]:
import os
import pandas as pd
directory = "D:\Data Analytics Course\Python\capstone_project"
file_name = "project_dataframe.csv"
file_path = os.path.join(directory,file_name)
df = pd.read_csv(file_path,encoding='utf-8')
#print(df)
running_sum = 0
count = 0

# Iterate through each row in the DataFrame
for index, row in df.iterrows():
    # If cost is not missing, update the running sum and count
    if not pd.isna(row['Cost']):
        running_sum += row['Cost']
        count += 1
    # If cost is missing, fill it with the running average
    else:
        # Calculate running average
        if count > 0:  # To avoid division by zero error
            running_average = running_sum / count
            df.at[index, 'Cost'] = running_average

# Save the updated DataFrame back to a CSV file (optional)
df.to_csv(r'D:\Data Analytics Course\Python\capstone_project\Updated_Project_dataframe.csv',encoding='utf-8',index=False)

# Print the DataFrame (optional)
print(df)

      ID    Project           Cost    Status
0   A001   project 1  1.002000e+06  Finished
1   A002   project 2  2.000000e+06   Ongoing
2   A003   project 3  4.500000e+06  Finished
3   A004   project 4  5.500000e+06   Ongoing
4   A005   project 5  3.250500e+06  Finished
5   A002   project 6  6.800000e+05    Failed
6   A005   project 7  4.000000e+05  Finished
7   A003   project 8  3.500000e+05    Failed
8   A001   project 9  2.061714e+06   Ongoing
9   A003  project 10  3.000000e+05  Finished
10  A001  project 11  2.000000e+06    Failed
11  A004  project 12  1.000000e+06   Ongoing
12  A004  project 13  3.000000e+06  Finished
13  A005  project 14  2.000000e+05  Finished

In [12]:

# Load the CSV file into a DataFrame
directory = "D:\Data Analytics Course\Python\capstone_project"
file_name = "employee_dataframe.csv"
file_path = os.path.join(directory,file_name)
df = pd.read_csv(file_path,encoding = 'utf-8')

# Split the 'name' column into 'First Name' and 'Last Name' columns
df[['First Name', 'Last Name']] = df['Name'].str.split(' ', 1, expand=True)

# Drop the original 'name' column from the DataFrame
df.drop(columns=['Name'], inplace=True)

# Optionally, save the updated DataFrame back to a CSV file
df.to_csv(r'D:\Data Analytics Course\Python\capstone_project\Updated_employee_dataframe.csv',encoding='utf-8', index=False)

# Print the updated DataFrame (optional)
print(df)

     ID Gender     City  Age First Name  Last Name
0  A001      M    Paris   25       John      Alter
1  A002      F   London   27      Alice  Luxumberg
2  A003      M   Berlin   29        Tom  Sabestine
3  A004      F  Newyork   31       Nina      Adgra
4  A005      F   Madrid   30        Amy      Johny

C:\Users\Admin\AppData\Local\Temp\ipykernel_11836\3443013172.py:8: FutureWarning: In a future version of pandas all arguments of StringMethods.split except for the argument 'pat' will be keyword-only.
  df[['First Name', 'Last Name']] = df['Name'].str.split(' ', 1, expand=True)

In [16]:
#reading dataframes
df1 = pd.read_csv(r'D:\Data Analytics Course\Python\capstone_project\Updated_Project_dataframe.csv')
df2 = pd.read_csv(r'D:\Data Analytics Course\Python\capstone_project\Updated_employee_dataframe.csv')
df3 = pd.read_csv(r'D:\Data Analytics Course\Python\capstone_project\seniority_level_dataframe.csv')
#mentioning common key
join_key = 'ID'
#merging the dataframes
final_1 = pd.merge(df1,df2,on=join_key,how='inner')
final=pd.merge(final_1,df3,on=join_key,how='inner')
final.to_csv(r'D:\Data Analytics Course\Python\capstone_project\final.csv',encoding='utf-8',index=False)
print(final)

      ID    Project           Cost    Status Gender     City  Age First Name  \
0   A001   project 1  1.002000e+06  Finished      M    Paris   25       John
1   A001   project 9  2.061714e+06   Ongoing      M    Paris   25       John
2   A001  project 11  2.000000e+06    Failed      M    Paris   25       John
3   A002   project 2  2.000000e+06   Ongoing      F   London   27      Alice
4   A002   project 6  6.800000e+05    Failed      F   London   27      Alice
5   A003   project 3  4.500000e+06  Finished      M   Berlin   29        Tom
6   A003   project 8  3.500000e+05    Failed      M   Berlin   29        Tom
7   A003  project 10  3.000000e+05  Finished      M   Berlin   29        Tom
8   A004   project 4  5.500000e+06   Ongoing      F  Newyork   31       Nina
9   A004  project 12  1.000000e+06   Ongoing      F  Newyork   31       Nina
10  A004  project 13  3.000000e+06  Finished      F  Newyork   31       Nina
11  A005   project 5  3.250500e+06  Finished      F   Madrid   30        Amy
12  A005   project 7  4.000000e+05  Finished      F   Madrid   30        Amy
13  A005  project 14  2.000000e+05  Finished      F   Madrid   30        Amy

    Last Name  Designation Level
0       Alter                  2
1       Alter                  2
2       Alter                  2
3   Luxumberg                  2
4   Luxumberg                  2
5   Sabestine                  3
6   Sabestine                  3
7   Sabestine                  3
8       Adgra                  2
9       Adgra                  2
10      Adgra                  2
11      Johny                  3
12      Johny                  3
13      Johny                  3

In [18]:
final = pd.read_csv(r'D:\Data Analytics Course\Python\capstone_project\final.csv')
# Define the bonus rate as 5% of the project cost
bonus_rate = 0.05

# Create a new column 'bonus' in the `final` DataFrame
# Calculate bonus for employees who have finished the project (status column)
final['bonus'] = final.apply(
    lambda row: row['Cost'] * bonus_rate if row['Status'].lower() == 'Finished' else 0,
    axis=1
)

# Optionally, save the updated DataFrame to a CSV file
final.to_csv(r'D:\Data Analytics Course\Python\capstone_project\final_1.csv',encoding = 'utf-8', index=False)

# Print the final DataFrame to verify the results (optional)
print(final)

      ID    Project           Cost    Status Gender     City  Age First Name  \
0   A001   project 1  1.002000e+06  Finished      M    Paris   25       John
1   A001   project 9  2.061714e+06   Ongoing      M    Paris   25       John
2   A001  project 11  2.000000e+06    Failed      M    Paris   25       John
3   A002   project 2  2.000000e+06   Ongoing      F   London   27      Alice
4   A002   project 6  6.800000e+05    Failed      F   London   27      Alice
5   A003   project 3  4.500000e+06  Finished      M   Berlin   29        Tom
6   A003   project 8  3.500000e+05    Failed      M   Berlin   29        Tom
7   A003  project 10  3.000000e+05  Finished      M   Berlin   29        Tom
8   A004   project 4  5.500000e+06   Ongoing      F  Newyork   31       Nina
9   A004  project 12  1.000000e+06   Ongoing      F  Newyork   31       Nina
10  A004  project 13  3.000000e+06  Finished      F  Newyork   31       Nina
11  A005   project 5  3.250500e+06  Finished      F   Madrid   30        Amy
12  A005   project 7  4.000000e+05  Finished      F   Madrid   30        Amy
13  A005  project 14  2.000000e+05  Finished      F   Madrid   30        Amy

    Last Name  Designation Level  bonus
0       Alter                  2      0
1       Alter                  2      0
2       Alter                  2      0
3   Luxumberg                  2      0
4   Luxumberg                  2      0
5   Sabestine                  3      0
6   Sabestine                  3      0
7   Sabestine                  3      0
8       Adgra                  2      0
9       Adgra                  2      0
10      Adgra                  2      0
11      Johny                  3      0
12      Johny                  3      0
13      Johny                  3      0

In [36]:
def process(input_file_path,output_file_path):
    df = pd.read_csv(input_file_path)
    df.loc[df['Status'] == 'Failed','Designation Level'] += 1
    df = df[df['Designation Level']<=4]
    df.to_csv(output_file_path,index=False)
    print(df)
input_file_path = (r"D:\Data Analytics Course\Python\capstone_project\final_1.csv")
output_file_path = (r"D:\Data Analytics Course\Python\capstone_project\final_2.csv")
process(input_file_path,output_file_path)

      ID    Project           Cost    Status Gender     City  Age First Name  \
0   A001   project 1  1.002000e+06  Finished      M    Paris   25       John
1   A001   project 9  2.061714e+06   Ongoing      M    Paris   25       John
2   A001  project 11  2.000000e+06    Failed      M    Paris   25       John
3   A002   project 2  2.000000e+06   Ongoing      F   London   27      Alice
4   A002   project 6  6.800000e+05    Failed      F   London   27      Alice
5   A003   project 3  4.500000e+06  Finished      M   Berlin   29        Tom
6   A003   project 8  3.500000e+05    Failed      M   Berlin   29        Tom
7   A003  project 10  3.000000e+05  Finished      M   Berlin   29        Tom
8   A004   project 4  5.500000e+06   Ongoing      F  Newyork   31       Nina
9   A004  project 12  1.000000e+06   Ongoing      F  Newyork   31       Nina
10  A004  project 13  3.000000e+06  Finished      F  Newyork   31       Nina
11  A005   project 5  3.250500e+06  Finished      F   Madrid   30        Amy
12  A005   project 7  4.000000e+05  Finished      F   Madrid   30        Amy
13  A005  project 14  2.000000e+05  Finished      F   Madrid   30        Amy

    Last Name  Designation Level  bonus
0       Alter                  2      0
1       Alter                  2      0
2       Alter                  3      0
3   Luxumberg                  2      0
4   Luxumberg                  3      0
5   Sabestine                  3      0
6   Sabestine                  4      0
7   Sabestine                  3      0
8       Adgra                  2      0
9       Adgra                  2      0
10      Adgra                  2      0
11      Johny                  3      0
12      Johny                  3      0
13      Johny                  3      0

In [42]:
def process(input_file_path, output_file_path):
    # Read the CSV file
    df = pd.read_csv(input_file_path)
    
    # Add prefix to the first name column based on gender
    def add_prefix(row):
        if row['Gender'] == 'M':
            return f"Mr. {row['First Name']}"
        elif row['Gender'] == 'F':
            return f"Mrs. {row['First Name']}"

    # Apply the prefix function to the 'First Name' column
    df['First Name'] = df.apply(add_prefix, axis=1)
    
    # Drop the gender column
    df.drop(columns=['Gender'], inplace=True)
    
    # Save the updated DataFrame to a new CSV file
    df.to_csv(output_file_path, index=False)
    print(df)

# Specify the input and output file paths
input_file_path = r'D:\Data Analytics Course\Python\capstone_project\final_2.csv'
output_file_path = r'D:\Data Analytics Course\Python\capstone_project\final_3.csv'

# Call the function to process the CSV file
process(input_file_path, output_file_path)

      ID    Project           Cost    Status     City  Age  First Name  \
0   A001   project 1  1.002000e+06  Finished    Paris   25    Mr. John
1   A001   project 9  2.061714e+06   Ongoing    Paris   25    Mr. John
2   A001  project 11  2.000000e+06    Failed    Paris   25    Mr. John
3   A002   project 2  2.000000e+06   Ongoing   London   27  Mrs. Alice
4   A002   project 6  6.800000e+05    Failed   London   27  Mrs. Alice
5   A003   project 3  4.500000e+06  Finished   Berlin   29     Mr. Tom
6   A003   project 8  3.500000e+05    Failed   Berlin   29     Mr. Tom
7   A003  project 10  3.000000e+05  Finished   Berlin   29     Mr. Tom
8   A004   project 4  5.500000e+06   Ongoing  Newyork   31   Mrs. Nina
9   A004  project 12  1.000000e+06   Ongoing  Newyork   31   Mrs. Nina
10  A004  project 13  3.000000e+06  Finished  Newyork   31   Mrs. Nina
11  A005   project 5  3.250500e+06  Finished   Madrid   30    Mrs. Amy
12  A005   project 7  4.000000e+05  Finished   Madrid   30    Mrs. Amy
13  A005  project 14  2.000000e+05  Finished   Madrid   30    Mrs. Amy

    Last Name  Designation Level  bonus
0       Alter                  2      0
1       Alter                  2      0
2       Alter                  3      0
3   Luxumberg                  2      0
4   Luxumberg                  3      0
5   Sabestine                  3      0
6   Sabestine                  4      0
7   Sabestine                  3      0
8       Adgra                  2      0
9       Adgra                  2      0
10      Adgra                  2      0
11      Johny                  3      0
12      Johny                  3      0
13      Johny                  3      0

In [44]:
def process(input_file_path,output_file_path):
    df = pd.read_csv(input_file_path)
    if [df['Age'] > 29]:
        df['Designation Level'] -= 1
    df.to_csv(output_file_path,index=False)
    print(df)
input_file_path = (r"D:\Data Analytics Course\Python\capstone_project\final_3.csv")
output_file_path = (r"D:\Data Analytics Course\Python\capstone_project\final_4.csv")
process(input_file_path,output_file_path)

      ID    Project           Cost    Status     City  Age  First Name  \
0   A001   project 1  1.002000e+06  Finished    Paris   25    Mr. John
1   A001   project 9  2.061714e+06   Ongoing    Paris   25    Mr. John
2   A001  project 11  2.000000e+06    Failed    Paris   25    Mr. John
3   A002   project 2  2.000000e+06   Ongoing   London   27  Mrs. Alice
4   A002   project 6  6.800000e+05    Failed   London   27  Mrs. Alice
5   A003   project 3  4.500000e+06  Finished   Berlin   29     Mr. Tom
6   A003   project 8  3.500000e+05    Failed   Berlin   29     Mr. Tom
7   A003  project 10  3.000000e+05  Finished   Berlin   29     Mr. Tom
8   A004   project 4  5.500000e+06   Ongoing  Newyork   31   Mrs. Nina
9   A004  project 12  1.000000e+06   Ongoing  Newyork   31   Mrs. Nina
10  A004  project 13  3.000000e+06  Finished  Newyork   31   Mrs. Nina
11  A005   project 5  3.250500e+06  Finished   Madrid   30    Mrs. Amy
12  A005   project 7  4.000000e+05  Finished   Madrid   30    Mrs. Amy
13  A005  project 14  2.000000e+05  Finished   Madrid   30    Mrs. Amy

    Last Name  Designation Level  bonus
0       Alter                  1      0
1       Alter                  1      0
2       Alter                  2      0
3   Luxumberg                  1      0
4   Luxumberg                  2      0
5   Sabestine                  2      0
6   Sabestine                  3      0
7   Sabestine                  2      0
8       Adgra                  1      0
9       Adgra                  1      0
10      Adgra                  1      0
11      Johny                  2      0
12      Johny                  2      0
13      Johny                  2      0

In [47]:
def calculate_total_project_cost(input_file_path, output_file_path):
    # Read the CSV file
    df = pd.read_csv(input_file_path)
    
    # Group the data by 'ID' and calculate the sum of 'Project Cost' for each employee
    total_costs = df.groupby('ID')['Cost'].sum().reset_index()
    
    # Merge the total costs with the original DataFrame to get the 'First Name' column
    # from the original DataFrame and keep unique rows using the first occurrence of each ID
    total_costs = total_costs.merge(df[['ID', 'First Name']].drop_duplicates(), on='ID')
    
    # Rename the 'Project Cost' column to 'Total cost'
    total_costs.rename(columns={'Cost': 'Total cost'}, inplace=True)
    
    # Reorder columns to match the required output format
    total_costs = total_costs[['ID', 'First Name', 'Total cost']]
    
    # Save the resulting DataFrame to a new CSV file
    total_costs.to_csv(output_file_path, index=False)
    
    print(total_costs)
# Specify the input and output file paths
input_file_path = r'D:\Data Analytics Course\Python\capstone_project\final_4.csv'  # Replace this with the correct path to the input CSV file
output_file_path = r'D:\Data Analytics Course\Python\capstone_project\final_5.csv'  # Replace this with the desired output file path

# Call the function to calculate total project costs and save to a new CSV file
calculate_total_project_cost(input_file_path, output_file_path)

     ID  First Name    Total cost
0  A001    Mr. John  5.063714e+06
1  A002  Mrs. Alice  2.680000e+06
2  A003     Mr. Tom  5.150000e+06
3  A004   Mrs. Nina  9.500000e+06
4  A005    Mrs. Amy  3.850500e+06

In [48]:
def print_employees_in_city_with_o(file_path):
    # Read the CSV file
    df = pd.read_csv(file_path)
    
    # Filter the DataFrame based on city names containing the letter "o"
    employees_in_city_with_o = df[df['City'].str.contains('o', case=False, na=False)]
    
    # Print the filtered DataFrame
    if not employees_in_city_with_o.empty:
        print("Employee details whose city name contains the letter 'o':")
        print(employees_in_city_with_o)
    else:
        print("No employees found whose city name contains the letter 'o'.")

# Specify the input file path
input_file_path = r'D:\Data Analytics Course\Python\capstone_project\final_4.csv'  # Replace this with the correct path to the input CSV file

# Call the function to print employee details
print_employees_in_city_with_o(input_file_path)

Employee details whose city name contains the letter 'o':
      ID    Project        Cost    Status     City  Age  First Name  \
3   A002   project 2  2000000.0   Ongoing   London   27  Mrs. Alice
4   A002   project 6   680000.0    Failed   London   27  Mrs. Alice
8   A004   project 4  5500000.0   Ongoing  Newyork   31   Mrs. Nina
9   A004  project 12  1000000.0   Ongoing  Newyork   31   Mrs. Nina
10  A004  project 13  3000000.0  Finished  Newyork   31   Mrs. Nina

    Last Name  Designation Level  bonus
3   Luxumberg                  1      0
4   Luxumberg                  2      0
8       Adgra                  1      0
9       Adgra                  1      0
10      Adgra                  1      0